<section data-ng-controller="MembersController">
    <div class="page-header">
        <h1>New Member</h1>
    </div>
    <div class="col-md-12">
        <form class="" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="row">
                    <div class="form-group">
                        <div data-ng-show="error" class="text-center text-danger">
                            <div class="alert alert-danger" role="alert">
                                <strong data-ng-bind="error"></strong>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 text-center"> 
                        <i class="glyphicon glyphicon-user cust-profile" ng-class="{'text-primary': true }"></i>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="firstName">First Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="firstName" id="firstName" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="lastName">Last Name</label>
                            <div class="controls">
                                <input type="text" data-ng-model="lastName" id="lastName" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="email">Email</label>
                            <div class="controls">
                                <input type="text" data-ng-model="email" id="email" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="phoneHome">Mobile</label>
                            <div class="controls">
                                <input type="text" data-ng-model="phoneHome" id="phoneHome" class="form-control" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-push-6">
                        <div class="form-group">
                            <label class="control-label" for="street1">Street 1</label>
                            <div class="controls">
                                <input type="text" data-ng-model="street1" id="street1" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="street2">Street 2</label>
                            <div class="controls">
                                <input type="text" data-ng-model="street2" id="street2" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="city">City</label>
                            <div class="controls">
                                <input type="text" data-ng-model="city" id="city" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="region">State</label>
                            <div class="controls">
                                <input type="text" data-ng-model="region" id="region" class="form-control" >
                            </div>
                        </div>                    
                        <div class="form-group">
                            <label class="control-label" for="postalCode">Postal Code</label>
                            <div class="controls">
                                <input type="text" data-ng-model="postalCode" id="postalCode" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="country">Country</label>
                            <div class="controls">
                                <input type="text" data-ng-model="country" id="country" class="form-control" >
                            </div>
                        </div>                     
                    </div>
                    <div class="col-sm-6 col-sm-pull-6" >
                        <div class="form-group">
                            <label class="control-label" for="memberType">Member Type</label>
                            <div class="controls">
                                <input type="" data-ng-model="memberType" id="memberType" class="form-control" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="notes">Notes</label>
                            <div class="controls">
                                <input type="text" data-ng-model="notes" id="notes" class="form-control" >
                            </div>
                        </div>                         
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-success">
                                Save & Close
                            </button>
                        </div>    
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>