.updateGlyph {
    font-size: 250px;
}

.checkbox-left {
    width: 10%;
    text-align: left;
}

.member-list {
	font-size: 100px;
}

.glyph-cadet {
	color:	rgb(214,184,139);
	
}

.glyph-parent {
	color:	#696969;
	
}

.glyph-graduate {
	color:	#0033CC;
	
}

.glyph-honorary {
	color:	#8B0000;
	
}

.member-list-space {
	padding-bottom: 15px;
    padding-top: 15px;
}